.roundedButton{
    border-radius: 3em;
    border: 1px solid rgb(136, 136, 136);
    border: 1px solid #0096a5;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px 15px 20px;
    width: fit-content;
    // font-family: font-normal;

    p, a{
        position: relative;
        z-index: 4;
        transition: color 0.4s linear;
    }

    &:hover{
        p,a{
            color: white;
            z-index: 4;
        }
    }
}

.circle{
    width: 100%;
    height: 150%;
    position: absolute;
    border-radius: 50%;
    top: 100%;
}
